
arkbackupdir="/ark/backup/ragnarok"
arkStagingDir="/ark/staging/ragnarok"
# Mod overrides
#ark_TotalConversionMod="111111111"
#serverMapModId="1838617463"
ark_Port=30778
ark_QueryPort=30015
ark_RCONEnabled="True"
ark_RCONPort="32330"
ark_AltSaveDirectoryName=RagnarokSave1
serverMap=Ragnarok
ark_SessionName=ThatRagnarokArk
ark_PreventDownloadSurvivors=true
ark_PreventDownloadItems=true
ark_PreventDownloadDinos=true
ark_PreventUploadSurvivors=true
ark_PreventUploadDinos=true
ark_PreventUploadItems=true
ark_noTributeDownloads=False
# ----- Mods ----- #
# 1522327484 : ARK Additions: The Collection! 
# 2003934830 : Prehistoric Beasts
# 1373744537 : Additional Creatures 2: Wild Ark
ark_GameModIds="1373744537,1522327484,2003934830"
